.css-12oz5g7.egzxvld2 {
    padding-top: 0px;
}

div.css-o18uir.e16nr0p33 {
    font-size: large;
}

.css-1v0mbdj.etr89bj1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 180px;
    max-width: 40%;
}

.css-10trblm.e16nr0p30 {
    font-weight: bold;
    text-align: center;
}

p {margin-bottom: -1em;  margin-top: 0em;} 

MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
