.block-container.css-12oz5g7.egzxvld2 {
    top: 0px;
}

.css-1v0mbdj.etr89bj1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 180px;
    max-width: 40%;
}

h2 {
    text-align:center;
}

MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}
